# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
.env
.env.*  # In case you use .env.local or others
venv/
*.sqlite3

# FastAPI logs
*.log

# VS Code
.vscode/

# macOS
.DS_Store

# Node
frontend/node_modules/
frontend/build/
frontend/.env
frontend/.env.*  # just in case

# Coverage / Testing
htmlcov/
.coverage
.tox/
.nox/
.cache/
pytest_cache/
